<div class="home">
  <h1 class="title"> TO-DO APP </h1>

  <div class="container">
    <div class="form">

      <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3">
          <input type="text" formControlName="task" class="form-control" placeholder="Enter your To-do Task"
            aria-label="Username">
          <button type="submit" class="btn btn-dark">Add</button>
        </div>
        <!-- <input id="task" type="text" formControlName="task" placeholder="Enter your Tasks"> -->


      </form>

    </div>

    <div class="list">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let i of data; let index = index">
            <tr>
              <ng-container *ngIf="i.completed">
                <td><s>{{i.task}}</s></td>
                <td>Completed</td>
                <td><button type="button" class="btn btn-success" (click)=updateTask(index) disabled>Completed</button>
              &nbsp;<button type="button" class="btn btn-dark" (click)=deleteTask(index)>Delete</button>
              </td>
              </ng-container>
              <ng-container *ngIf="!i.completed">
                <td>{{i.task}}</td>
                <td>Not Completed</td>
                <td><button type="button" class="btn btn-success" (click)=updateTask(index)>Completed</button>
              &nbsp;<button type="button" class="btn btn-dark" (click)=deleteTask(index)>Delete</button>
              </td>
              </ng-container>
              
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>